<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div  class="container-fluid">
     
    <a class="navbar-brand" routerLink="/">{{projecttitle}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          <form class="d-flex">
              <input  name="search" [(ngModel)]="searchtext" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button  (click)="search()" class="btn btn-primary" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
            </form>
            <form  class="d-flex">
              <button routerLink="/addcake" class=" btn btn-info" type="submit"><fa-icon [icon]="faUpload"></fa-icon></button>
            </form>
      </ul>
      <div class="d-flex">
        <a *ngIf="isAdmin" class="navbar-brand" routerLink="/addcake">Add New Cake</a>

          <button *ngIf="!isloggedin" routerLink="/login" class="btn btn-success" type="submit">Login</button>
          <button style="margin-right: 20px;" routerLink="/cart" *ngIf="isloggedin" class="btn btn-warning position-relative mr-5"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{length}}
          </span><fa-icon [icon]="faCartShopping"></fa-icon></button>
          <button (click)="logout()" *ngIf="isloggedin" class="btn btn-danger ml-5"><fa-icon [icon]="faSignout"></fa-icon></button>
      </div>
    </div>
  </div>
</nav>
                